<div class="container">
    <div class="w-75 mx-auto " *ngIf="step1">
        <form [formGroup]="forgotForm" (ngSubmit)="forgotPassword()">
            <label for="email">Email</label>
            <input formControlName="email" class="form-control" type="email" id="email">
            <button class="bg-main btn text-white my-4 w-100">forgot password</button>
            <p *ngIf="userMsg" class="alert alert-danger ">{{userMsg}}</p>
        </form>
    </div>

    <div class="w-75 mx-auto" *ngIf="step2">
        <form [formGroup]="resetCodeForm" (ngSubmit)="resetCode()">
            <label for="resetCode">Code</label>
            <input formControlName="resetCode" class="form-control" type="text" id="resetCode">
            <button class="bg-main btn text-white my-4 w-100">send code</button>
            <p *ngIf="userMsg" class="alert alert-danger ">{{userMsg}}</p>
        </form>
    </div>


    <div class="w-75 mx-auto" *ngIf="step3">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="setNewPassword()">
            <label for="newPassword">Reset Password</label>
            <input formControlName="newPassword" class="form-control" type="password" id="newPassword">
            <button class="bg-main btn text-white my-4 w-100">Reset Password</button>
            <p *ngIf="userMsg" class="alert alert-danger ">{{userMsg}}</p>
        </form>
    </div>
</div>
